# Configurações do Banco de Dados
MONGO_URI=mongodb://mongodb:27017/weather_db

# Configurações do RabbitMQ
RABBITMQ_URI=amqp://guest:guest@rabbitmq:5672/

# Segurança (JWT)
JWT_SECRET=SEGREDO_SUPER_SECRETO_GDASH
JWT_EXPIRATION=60m

# Portas dos Serviços
API_PORT=3000
DASHBOARD_PORT=5173